:root {
  --back: #fbfbf9;
  --main-text: #000000;
  --sec-text: #fff;
  --btn-clr: #52b2bf;
  --heading-font: "Crimson Pro", serif;
  --sec-heading: "Kaushan Script", cursive;
  --text: "Sacramento", cursive;
  --sub-text: "Special Elite", cursive;
}
