@import "./global.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.land {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--back);
}
.navbar {
  width: 100vw;
  height: 7vh;
  padding: 2.5em;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--heading-font);
}
#main-btn {
  background: var(--btn-clr);
  border-radius: 20px;
  padding: 1em 2em;
  text-decoration: none;
  color: var(--sec-text);
}
#heading__text {
  font-size: 2rem;
}
.content {
  width: 100vw;
  min-height: 70vh;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.content__heading {
  font-family: var(--text);
}
#content__heading {
  font-family: var(--sec-heading);
}
#content {
  font-family: var(--sub-text);
  padding: 2.5em 0em;
}
#btn {
  background: var(--btn-clr);
  border-radius: 20px;
  padding: 1em 2em;
  text-decoration: none;
  color: var(--sec-text);
}
.content__right {
  width: 40vw;
}
.content__right img {
  width: 100%;
}

@media (max-width: 52.5rem) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}
